.git/*
.DS_Store

license
yarn.lock
.travis.yml

.yarnclean
.eslintignore
.prettierignore
.upignore
.npmignore
.gitignore
.dockerignore
.yarnrc
.env

dist
build
application/frontend/lib
assets/css
assets/webfonts

*.ico
*.html
*.log
*.svg
*.map
*.png
*.snap
*.txt
*.sketch
*.ttf
*.eot
*.ttf
*.woff
*.woff2
